.container {
    margin: auto;
    max-width: 600px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}

.site-title {
    font-size: 2rem;
    color: gray;
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    font-family: sans-serif;
    background: -moz-linear-gradient(left, #d1c6f3, #e9bcac);
    background: -webkit-linear-gradient(left, #d1c6f3, #e9bcac);
    background: linear-gradient(to right, #d1c6f3, #e9bcac);
}